sudo: required

branches:
  only:
  - master

services:
  - docker

before_install:
  - pwd
  - ls -lah
  - docker pull centos:latest
  - docker run -v ${PWD}:/miniconda-environment/ --name=cent -dt centos:latest

script:
 - docker exec cent /bin/sh -c "source /miniconda-environment/miniconda_installer.sh"
